* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

body {
    height: 100vh;
    background-color: #010313;
}

main {
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
    background-position: center;
    background-size: contain;
}


/*Home page Design*/

.home_page {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}


.home_page div {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_page h1 {
    font-size: 88px;
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
}

.home_page p {
    font-size: 13px;
    margin: 10px;
}

.home_page button {
    padding: 7px 15px;
    font-size: 13px;
    border-radius: 4px;
    margin: 10px;
}


/* Play Ground Page Design */

.play_ground_container {
    height: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.play_ground {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text_area {
    margin: 10px;
    height: 240px;
    width: 570px;
    border: 10px solid #2F2941;
    border-radius: 9px;
    background-color: #FFFFFFB3;
}

/*keyboard*/


.keyboard {
    margin: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.keyboard div {
    margin: 10px;
}

kbd {
    background-color: white;
    color: #010313;
    padding: 3px 8px;
    margin: 2px;
    border-radius: 4px;
}

/*Button*/

.btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
}

.btn button {
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
}



#like_button {
    background-color: #894189;
    background-size: cover;
}

#like_button img {
    width: 18px;
}

#score_button {
    background-color: #350490;
    background-size: cover;
    color: white;
}

#score_button img {
    width: 15px;
}

/*Score Board*/


.score_board_container {
    height: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/scoreBoard_bg.svg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: 280px;
    /* display: none; */
}

.score_board {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.score_board h1 {
    font-size: 50px;
    font-weight: 700;
}

.score_board span{
    font-weight: 400;
}

.score_board button{
    padding: 8px 25px;
    border-radius: 5px;
    font-size: 16px;
}

.score_board p{
    margin: 15px;
}